body{
  margin: 0;
  padding: 0;
  background-color: #ece9e9;
}
.cont{
    color: #866518;

  
   
    width:100%;
    display: flex;
   
    margin: auto;
  

}
.cont>h1{
  font-family: brush script MT;
}
.cont>:nth-child(1){
 
    width:40%;
    background-color: #f4d086;
    

  
 
}
.cont>div>div{
  
    margin:10% 10% 10% 10%;
  

 
}
#Signin{
  border: none;
  color: blue;
}
.cont>div>div>h1{
  margin-left:4%;
 

 
}
.cont>div>h3{
    margin:7% 0% 0% 10%;
    font-family: 'Brush Script MT';

    color:#bc984f;
    
   
  
   
  }
  .cont>div>h2{
    margin:7% 0 0 10%;
   
  
   
  }
  .sec-cont{
     width:60%;
     background-color: #FFFFFF;
  }
 

 #Signin:hover{
  background-color: aqua;


  }
  .sec-cont >:nth-child(1){
    margin-top: 2%; margin-left: 66%; width:33%

  }
  .sec-cont>:nth-child(2){
    
    color: red;
  
   align-items: center;
  }
  .shadow{
    border-radius: 5px;
    border: none;
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: lightgrey
  }
  
  
@media screen and (max-width: 768px) {
  .cont {
      flex-direction: column;
   
  }
 
  #contf{
  width: 100%;

  }
  .sec-cont {
     
      width: 100%;
  }

  .sec-cont > div {
      margin-bottom: 20px;
     
  }
  .sec-cont form {
      margin-top: 0;
  }
}@media only screen and (max-width: 600px) {
  body {
    background-color: black;
  }
  #sec{
    flex-direction: column;
    
  
    
  }
  #sec>div{
  
   margin-bottom: 20px;
   margin-left: 20px;
   border: 2px solid violet;
   background-color: #f4d086;
    
  }
  #mem{display: none;}
  #brush{
    font-family: brush script MT;
  }
  
}



  
   

  