body {

    margin: 0;
    padding: 0;

  }

  .profile-card {
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    overflow: hidden;
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-left: 27%;
  }
  #showDefaultImages:hover{
    background-color: aqua;
    color: gray;
  }
  #images:hover{
    background-color: aqua;
    color: gray;
  }

  .profile-img {
    border:2px solid red;
    
    width: 100px;
    height: 100px;
    border: 2px dotted gray;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    
  }

  .default-images {
    display: none;
    justify-content: center;
    margin-bottom: 20px;
  }

  .default-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
  }

  .default-image:last-child {
    margin-right: 0;
  }

  input[type="text"] {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 5px;
  }

  input[type="file"] {
    display: none;
  }

  .file-upload {
   
    color: white;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    height: 10px;
   
    color:black
   
  }
 


  .default-button {
   
    color: white;
    padding: 10px 20px 10px 20px;
   
    cursor: pointer;
    margin-bottom: 10px;
    width: 60%;
    height: 10%;
    color: black;
    text-decoration: none;
  }
  #showDefaultImages{
    border: none;
    width: 140px;
    height: 20px;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
   
    margin: auto;
    margin-top: 10px;
    margin-left: 50%;
  
   
  }
  #footer{
    display: flex;
  
    justify-content: space-between;
 
    
   
}
#footer>div{
  
    text-align: center;

    
}
#footer>div a{
   text-decoration: none;
   color:gray;
   font-size: 10px;
   
}





@media only screen and (max-width: 600px) {
 
  h1 {
      font-size: 24px;
      margin-left: 10px;
  }

  
  .div {
      width: 90%;
  }

  .profile-card {
      width: 90%;
      margin-left: 5%;
  }

  .profile-img {
      width: 80px;
      height: 80px;
  }

  input[type="text"],
  input[type="email"],
  input[type="file"] {
      width: 90%;
  }

  #next {
      width: 80%;
      margin: 10px auto;
  }

  
  #footer {
      flex-direction: column;
      align-items: center;
      padding: 10px;
  }

  #footer div {
      text-align: center;
      margin-bottom: 20px;
  }

  #footer div h2 {
      margin-left: 0;
      text-align: center;
  }

  #footer div p {
      margin-left: 0;
      text-align: center;
  }

  #footer div img {
      width: 20px;
      margin: 0 5px;
  }

  #footer div a {
      font-size: 12px;
  }
  #brush{
    font-family: brush script MT;
  }

}


